src/conf/xml-resources/web-service-references/bank/wsdl/localhost_8080/bank/bank.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://bank/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://bank/">

<xs:element name="accamountshow" type="tns:accamountshow"/>

<xs:element name="accamountshowResponse" type="tns:accamountshowResponse"/>

<xs:element name="deposit" type="tns:deposit"/>

<xs:element name="depositResponse" type="tns:depositResponse"/>

<xs:element name="transaction" type="tns:transaction"/>

<xs:element name="transactionResponse" type="tns:transactionResponse"/>

<xs:element name="withdraw" type="tns:withdraw"/>

<xs:element name="withdrawResponse" type="tns:withdrawResponse"/>

<xs:complexType name="deposit">
<xs:sequence>
<xs:element name="depositamount" type="xs:int"/>
<xs:element name="Useriteration" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depositResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transaction">
<xs:sequence>
<xs:element name="Useriteration" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transactionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="withdraw">
<xs:sequence>
<xs:element name="withdrawamount" type="xs:int"/>
<xs:element name="Useriteration" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="withdrawResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accamountshow">
<xs:sequence>
<xs:element name="Useriteration" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accamountshowResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>